@{
    ViewData["Title"] = "Square";
}

<h1>hello</h1>

<form asp-controller="Home" asp-action="Index" method="post">
    <label for="number">nhập a :</label>
    <input type="number" name="a" />
    <label for="number">nhập b :</label>
    <input type="number" name="b" />
    <label for="number">nhập c :</label>
    <input type="number" name="c" />
    <input type="submit" value="Calculate" />
</form>
<h2>@ViewBag.Message</h2>

